<h1>About Us</h1>

<a href="{% url 'home' %}"> Back </a>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id orci nec dui venenatis cursus.
Nam pellentesque, felis a mattis rutrum, diam ligula ultrices sem, et viverra nunc ligula id nisl.
Praesent scelerisque tincidunt metus vitae euismod. Quisque id tristique orci. Suspendisse faucibus
vitae ex vel elementum. Maecenas fringilla nibh ac ante scelerisque sollicitudin. Aenean ullamcorper
urna vitae quam convallis ultrices. Aenean aliquam risus id magna convallis semper. Lorem ipsum dolor
sit amet, consectetur adipiscing elit. Phasellus vitae semper nibh.